In [1]:
import pandas as pd

data = pd.read_csv("company.csv")
print(data)

   Unnamed: 0      Name gender  salary
0           0    ayushi      F   20000
1           1     rohit      M   25000
2           2  pranjali      F   27000

In [2]:
print(data.isnull())

   Unnamed: 0   Name  gender  salary
0       False  False   False   False
1       False  False   False   False
2       False  False   False   False

In [3]:
print(data.isnull().sum())

Unnamed: 0    0
Name          0
gender        0
salary        0
dtype: int64

In [4]:
print(data.dropna())

   Unnamed: 0      Name gender  salary
0           0    ayushi      F   20000
1           1     rohit      M   25000
2           2  pranjali      F   27000

In [5]:
print(data)

   Unnamed: 0      Name gender  salary
0           0    ayushi      F   20000
1           1     rohit      M   25000
2           2  pranjali      F   27000

In [6]:
import numpy as np
print(data.replace(np.nan,"hi"))

   Unnamed: 0      Name gender  salary
0           0    ayushi      F   20000
1           1     rohit      M   25000
2           2  pranjali      F   27000

In [7]:
import numpy as np
print(data.replace(np.nan,30000))

   Unnamed: 0      Name gender  salary
0           0    ayushi      F   20000
1           1     rohit      M   25000
2           2  pranjali      F   27000

In [9]:
data["salary"] = data["salary"].replace(np.nan,22000)
print(data)

   Unnamed: 0      Name gender  salary
0           0    ayushi      F   20000
1           1     rohit      M   25000
2           2  pranjali      F   27000

In [10]:
print(data["salary"].mean())

24000.0

In [11]:
print(data)

   Unnamed: 0      Name gender  salary
0           0    ayushi      F   20000
1           1     rohit      M   25000
2           2  pranjali      F   27000

print(data.filledna(method = "bfill"))

In [12]:
print(data.fillna(method = "ffill"))

   Unnamed: 0      Name gender  salary
0           0    ayushi      F   20000
1           1     rohit      M   25000
2           2  pranjali      F   27000

C:\Users\AYUSH RAJ\AppData\Local\Temp\ipykernel_26108\1391920301.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  print(data.fillna(method = "ffill"))

In [13]:
print(data.fillna("hi"))

   Unnamed: 0      Name gender  salary
0           0    ayushi      F   20000
1           1     rohit      M   25000
2           2  pranjali      F   27000

In [14]:
print(data.fillna(method = "bfill"))

   Unnamed: 0      Name gender  salary
0           0    ayushi      F   20000
1           1     rohit      M   25000
2           2  pranjali      F   27000

C:\Users\AYUSH RAJ\AppData\Local\Temp\ipykernel_26108\2754045057.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  print(data.fillna(method = "bfill"))