In [1]:
import pandas as pd

data = pd.read_csv("customer.csv")
print(data)

       Client_Num  Customer_Age Gender  Dependent_Count Education_Level  \
0       708082083            24      F                1      Uneducated
1       708083283            62      F                0         Unknown
2       708084558            32      F                1         Unknown
3       708085458            38      M                2      Uneducated
4       708086958            48      M                4        Graduate
...           ...           ...    ...              ...             ...
10103   827695683            44      M                3        Graduate
10104   827703258            48      M                3         Unknown
10105   827712108            47      M                4        Graduate
10106   827888433            42      F                3        Graduate
10107   827890758            47      M                4     High School

      Marital_Status state_cd  Zipcode Car_Owner House_Owner Personal_loan  \
0             Single       FL    91750        no         yes            no
1            Married       NJ    91750        no          no            no
2            Married       NJ    91750       yes          no            no
3             Single       NY    91750        no          no            no
4             Single       TX    91750       yes         yes            no
...              ...      ...      ...       ...         ...           ...
10103         Single       NV    91750       yes         yes           yes
10104        Unknown       TX    91750        no         yes            no
10105        Married       NY    91750       yes          no            no
10106        Married       TX    91750        no          no            no
10107        Married       NY    91750        no         yes            no

        contact   Customer_Job  Income  Cust_Satisfaction_Score
0       unknown    Businessman  202326                        3
1      cellular  Selfemployeed    5225                        2
2       unknown  Selfemployeed   14235                        2
3      cellular    Blue-collar   45683                        1
4      cellular    Businessman   59279                        1
...         ...            ...     ...                      ...
10103   unknown  Selfemployeed   44903                        5
10104  cellular  Selfemployeed   73655                        3
10105  cellular  Selfemployeed   62287                        3
10106  cellular   White-collar   21390                        4
10107  cellular  Selfemployeed   42187                        4

[10108 rows x 15 columns]

In [2]:
print(data.duplicated())

0        False
1        False
2        False
3        False
4        False
         ...
10103    False
10104    False
10105    False
10106    False
10107    False
Length: 10108, dtype: bool

In [5]:
print(data["customer"].duplicated().sum())

KeyError: 'customer'

In [6]:
print(data.drop_duplicates())

       Client_Num  Customer_Age Gender  Dependent_Count Education_Level  \
0       708082083            24      F                1      Uneducated
1       708083283            62      F                0         Unknown
2       708084558            32      F                1         Unknown
3       708085458            38      M                2      Uneducated
4       708086958            48      M                4        Graduate
...           ...           ...    ...              ...             ...
10103   827695683            44      M                3        Graduate
10104   827703258            48      M                3         Unknown
10105   827712108            47      M                4        Graduate
10106   827888433            42      F                3        Graduate
10107   827890758            47      M                4     High School

      Marital_Status state_cd  Zipcode Car_Owner House_Owner Personal_loan  \
0             Single       FL    91750        no         yes            no
1            Married       NJ    91750        no          no            no
2            Married       NJ    91750       yes          no            no
3             Single       NY    91750        no          no            no
4             Single       TX    91750       yes         yes            no
...              ...      ...      ...       ...         ...           ...
10103         Single       NV    91750       yes         yes           yes
10104        Unknown       TX    91750        no         yes            no
10105        Married       NY    91750       yes          no            no
10106        Married       TX    91750        no          no            no
10107        Married       NY    91750        no         yes            no

        contact   Customer_Job  Income  Cust_Satisfaction_Score
0       unknown    Businessman  202326                        3
1      cellular  Selfemployeed    5225                        2
2       unknown  Selfemployeed   14235                        2
3      cellular    Blue-collar   45683                        1
4      cellular    Businessman   59279                        1
...         ...            ...     ...                      ...
10103   unknown  Selfemployeed   44903                        5
10104  cellular  Selfemployeed   73655                        3
10105  cellular  Selfemployeed   62287                        3
10106  cellular   White-collar   21390                        4
10107  cellular  Selfemployeed   42187                        4

[10108 rows x 15 columns]